@model jobs_web.Models.Empresa

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/EditEmpresa.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap" rel="stylesheet">
    <title>Informações da Empresa</title>
</head>
<div class="container-edit-empresa">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="nome" class="control-label">Razão Social</label>
            <input asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="cnpj" class="control-label">CPF</label>
            <input asp-for="cnpj" class="form-control" />
            <span asp-validation-for="cnpj" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="contato" class="control-label">Email</label>
            <input asp-for="contato" type="email" class="form-control" />
            <span asp-validation-for="contato" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="descricao" class="control-label">Descrição</label>
            <textarea rows="5" asp-for="descricao" class="form-control"></textarea>
            <span asp-validation-for="descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="botoes">
                <div>
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </div>
                <div>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
