@model Jobs.Models.Education

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style-Edit.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap" rel="stylesheet">
    <title>Editar Formação</title>
</head>

<div class="main">
    <div class="content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="title">
                <h1>Editar</h1>
            </div>
            <fieldset>
                <label class="subtitle">Formação Acadêmica</label>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Institution" class="control-label"></label>
                    <input asp-for="Institution" class="form-control" />
                    <span asp-validation-for="Institution" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Course" class="control-label"></label>
                    <input asp-for="Course" class="form-control" />
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseType" class="control-label"></label>
                    <select asp-for="CourseType" class="form-control" asp-items="Html.GetEnumSelectList<CourseType>()"></select>
                    <span asp-validation-for="CourseType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="divButtons">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button class="btn btn-primary"><a asp-controller="Candidates" asp-action="GeneralView" asp-route-id="@Model.Candidate.Id">Voltar</a></button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}