@model IEnumerable<jobs_web.Models.Vagas>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/IndexVagas.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap" rel="stylesheet">
    <title>Meu currículo</title>
</head>
<h1>Vagas Postadas</h1>
<p class="new-vaga">
    <a asp-action="Create" class="btn btn-primary">Criar nova vaga</a>
</p>
<div class="container-index-vagas">
    @foreach (var item in Model){
        <section class="section-vagas" >
            <h3>@Html.DisplayFor(modelItem => item.Cargo)</h3>
            <p> @Html.DisplayFor(modelItem => item.descricao)</p>
            <p> Quantidade de vagas: @Html.DisplayFor(modelItem => item.quantidade_vagas)</p>
            <a asp-action="Details" asp-route-id="@item.Id" >Mais detalhes</a>
        </section>
     }
</div>
