﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


nav {
    width: 100%;
}

body, .container {
    background-color: #FFFAFA;
}

.row {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cadastro {
    border: 2px solid #F14902;
    padding: 80px;
    border-radius: 8px;
    color: #1C191A;
    width: 75%;
}

.button-login {
    background-color: #1E90FF;
    border-color: #1E90FF;
    border-radius: 10px;
    height: 47px;
}

    .button-login:hover {
        background-color: #8C8C8C;
        border-color: #8C8C8C;
    }

.titles {
    display: block;
}

h1 {
    color: #1C191A;
    margin: 20% 0;
    font-weight: 350;
}

h2 {
    color: #1C191A;
    font-size: 15px;
}
