nav > .container, footer > .container, footer {
    background-color: white;
}

body, .container {
    background-color: #1b191a;
}

.initialPage {
    color: white;
    background-color: #1b191a;
    font-size: 100px;
    justify-content: center;
}
