﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    width: 100%;
}

body, .container {
    background-color: #FFFAFA;
    color: #1C191A;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    text-align: center;
    padding-top: 10vh;
    font-weight: 200;
    color: #1C191A;
}

hr {
    border-color: #1C191A;
}
