* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav > .container, footer > .container, footer {
    background-color: white;
}

nav {
    width: 100%;
}

.row {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 3% 0 0 3%;
}

.form-container {
    width: 70%;

}

.numbers {
    display: flex;
}

.numbers .form-group {
    width: 45%;
}

.numbers .data{
    margin-left: 10%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
